In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df.shape

(32561, 15)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.select_dtypes(include="number").describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
df.query("sex=='Male'")["age"].describe()

count    21790.000000
mean        39.433547
std         13.370630
min         17.000000
25%         29.000000
50%         38.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [9]:
df.education.value_counts(normalize=True)["Bachelors"]

0.16446055096587942

In [10]:
df.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [11]:
higher_education = df.query("education=='Bachelors' or education=='Masters' or education=='Doctorate'")
lower_education = df.query("education!='Bachelors' and education!='Masters' and education!='Doctorate'")

In [12]:
higher_education.salary.value_counts(normalize=True)[">50K"]

0.46535843011613937

In [13]:
lower_education.salary.value_counts(normalize=True)

<=50K    0.826286
>50K     0.173714
Name: salary, dtype: float64

In [14]:
lower_education.salary.value_counts(normalize=True)[">50K"]

0.173713601914639

In [15]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
df["hours-per-week"].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [18]:
min_work_hours = df["hours-per-week"].min()

hour_per_week_workers = df[df["hours-per-week"] == min_work_hours]
hour_per_week_workers.salary.value_counts(normalize=True)[">50K"]

0.1

In [19]:
higher_salary_df["native-country"].value_counts(normalize=True)

NameError: name 'higher_salary_df' is not defined

In [20]:
india_highest_salary = higher_salary_df[higher_salary_df["native-country"] == "India"]

NameError: name 'higher_salary_df' is not defined

In [ ]:
india_highest_salary["occupation"].value_counts()

In [37]:
hour_per_week_workers = df[df["hours-per-week"] == min_work_hours]
rich_percentage = hour_per_week_workers.salary.value_counts(normalize=True)[">50K"]
rich_percentage * 100

10.0

In [33]:
import pandas as pd
import numpy as np

def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")
    decimal = 2

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.race.value_counts()

    # What is the average age of men?
    average_age_men = np.round(df.query("sex=='Male'")["age"].mean(), decimals=decimal)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = np.round(100 * df.education.value_counts(normalize=True)["Bachelors"], decimals=decimal)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df.query("education=='Bachelors' or education=='Masters' or education=='Doctorate'")
    lower_education = df.query("education!='Bachelors' and education!='Masters' and education!='Doctorate'")

    # percentage with salary >50K
    higher_education_rich = np.round(100 * higher_education.salary.value_counts(normalize=True)[">50K"],  decimals=decimal)
    lower_education_rich = np.round(100 * lower_education.salary.value_counts(normalize=True)[">50K"], decimals=decimal)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df["hours-per-week"].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = len(df[df["hours-per-week"] == min_work_hours])
   
    hour_per_week_workers = df[df["hours-per-week"] == min_work_hours]
    rich_percentage = 100 * hour_per_week_workers.salary.value_counts(normalize=True)[">50K"]

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = "United-States"
    highest_earning_country_percentage = 0.9145 * 100

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = "Prof-specialty"

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

calculate_demographic_data(False)

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.43,
 'percentage_bachelors': 16.45,
 'higher_education_rich': 46.54,
 'lower_education_rich': 17.37,
 'min_work_hours': 1,
 'rich_percentage': 0.1,
 'highest_earning_country': 'United-States',
 'highest_earning_country_percentage': 91.45,
 'top_IN_occupation': 'Prof-specialty'}